@model IEnumerable<Products>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 my-3 d-flex">
            <div class="card border-primary" style="max-width: 20rem;">
                <div class="card-header">@item.ProductName</div>
                <div class="card-body">
                    <img src="@Url.Content(item.ImageUrl)" alt="@item.ProductName" class="img-fluid" />
                </div>
                <div class="card-footer">
                    <div class="d-flex">
                        <h6 class="card-title">₹ @item.Price</h6>
                        <span class="badge rounded-pill bg-primary ms-auto">Pizza</span>
                    </div>
                    <div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Des.
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>@item.Description</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm mt-2" type="button" style="width: 100%;">
                        Details
                    </button>
                </div>
            </div>
        </div>
    }
</div>